<!DOCTYPE html>
<html lang="pt_BR" ng-app="SPA">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Maratonistas
  </title>
  <link rel="stylesheet" href="assets/style.css" />
</head>
<body>

  <!-- first bar -->
  <div id="vertical-bar">

    <span id="logo">
      M
    </span>

    <div class="nav">
      <a href="https://t.me/joinchat/PxmLixZcxVQXjzNUEJBcyw" class="social" title="Um ótimo canal pra trocar">
        <img src="assets/images/instagram-logo.png" />
      </a>
      <a href="https://discord.gg/kz7EvZ5" class="social" title="Vamos trocar uma ideia">
        <img src="assets/images/discord_logo.png" />
      </a>
      <a href="https://github.com/maratonistas" class="social" title="Colabore">
        <img src="assets/images/github_logo.png" />
      </a>
    </div>

  </div>

  
  <!-- members bar -->
  <div id="general-info" ng-controller="Repositories as controller">

    <div class="form">
      <h2> Repositórios </h2>
      <input type="text" placeholder="Encontre pelo github" ng-model="filter" />
    </div>

    <div id="repositories">
      <a href="{{ repository.html_url }}" class="repository" ng-repeat="repository in controller.listFiltered" target="_blank">
        <img ng-src="{{ repository.owner.avatar_url }}" />        
        <div class="info">
          <strong> {{ repository.name }} </strong>
          <span> {{ repository.full_name }} </span>
        </div>
      </a>        
    </div>

  </div>

  
  <!-- posts bar -->
  <div id="posts">
    <div id="top-bar">

    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

  <!-- services -->
  <script src="assets/js/services/repository.service.js"></script>

  <!-- app -->
  <script src="assets/js/app.js"></script>

</body>
</html>